@import '../../colors.scss';

h1 {
    text-transform: uppercase;
}
.details {
    margin-bottom: 20px; 
    .image-content {
        padding-left: 0;
        overflow: hidden;
        height: 460px;
        max-width: 600px;
        margin-right: 20px;
    }
    .portfolioImg {
        height: 100%;
        position: relative;
    }

    img {
        vertical-align: middle;
        border-style: none;
    }
    .text-content {
        padding-left: 40px;
        .skillList {
            width: 100%;
            float:left;
            margin-bottom: 30px;
        }
    
        ul {
            padding-left: 0;
            li {
            padding-left: 0px !Important;
            font-size: 16px;
            line-height: 18px !Important;
            list-style: none;
                label {
                    width: 100px;
                }
            }
        }
        
    }
    .badge {
        font-size: 90%;
    }
    .badge-secondary {
        margin-right: 10px;
        float: left;
        font-weight: 200;
        color: $white;
        background-color: $aubergine;
        border-radius: 0;
        margin-bottom: 5px;
    }
}
.modal-body {
    img {
        width: 100%;
    }
}

@media only screen and (max-width: 600px) {
    .details {
        .portfolioImg {
            height: auto;
            width: 100%;
        }
    }
    .details {
        .image-content {

            height: inherit;
            max-width: 600px;
            margin-right: 20px;
        }
        .text-content {
            padding-left: 0px; 
            margin-top: 20px;
            h1 {
                font-size: 1.2rem;
            }
        }
        .badge {
            font-size: 70%;
        }
    }
}
