@import '../../colors.scss';

.carousel {
    overflow: hidden;
    max-height: 500px;
}
.carousel-caption {
    position: inherit;
    color: $black;
    text-align: left;
    left:0%;
}
img {
            width: 100%;
 }
 .signature {
     text-align: right;
     font-style: italic;
 }
