<div id="b_one" class="content" >
    <div >
      <ngb-carousel *ngIf="resensie" [interval]="10000" [showNavigationArrows]="false" [showNavigationIndicators]="false">
        <ng-template ngbSlide *ngFor="let res of resensie">
          <div class="col-lg-4 float-l picsum-img-wrapper">
            <img [src]="res.acf.image" alt="Random slide">
          </div>
          <div class="col-lg-8 float-l carousel-caption">
            <h3>{{ res.acf.opdracht }}</h3>
            <p>{{ res.content.rendered}}</p>
          </div>
        </ng-template>
      </ngb-carousel>
       
    </div>
</div>
