<div class="content col-lg-12 half" >
    <div class="contact-us-box">
        <div class="box-left" data-customizer="box-left-customer-support-title">
            Contact									
        </div><!--/.box-left-->
        <div class="box-right">
            <span class="box-right-row"><a href="mailto:w.duursma@sharevalue.nl" title="w.duursma@sharevalue.nl">w.duursma@sharevalue.nl</a></span>
            <span class="box-right-row" data-customizer="contact-us-phone">06-55230149</span>
            <span class="box-right-row">Sharevalue</span>
            <span class="box-right-row">Kampenringweg 45A</span>
            <span class="box-right-row">2803 PE Gouda</span>
        </div><!--/.box-right-->
    </div>
</div>
<div class="content col-lg-12 half color-half" >
    <p>
        <fa-icon [icon]="faLinkedinIn" class="fa-3x"></fa-icon>
        <a href="https://www.linkedin.com/in/wietze-duursma-426a6876/">
           linkedin.com/in/wietze-duursma
        </a>
    </p>
    <p>
        <fa-icon [icon]="faFacebookSquare" class="fa-3x"></fa-icon>
        <a href="https://www.facebook.com/wduursma">
            facebook.com/wduursma
        </a>
    </p>
</div>
