@import "../../colors.scss";

.tags {
    font-style: italic;
    color: $darkgray;
    cursor: default;
    .itemTag {
            text-decoration: none;
            border-bottom: 1px solid $darkgray;
            cursor: pointer;
            margin: 0 5px;
        
    }
    .itemTag:hover{
        color: $black;
        border-bottom: 2px solid $black;
    }
}