<div id="b_two" class="content tags">
        <div *ngIf="categories">
                <span *ngFor="let cat of categoriesList" >
                        <span *ngIf="cat.count > 0" >
                                <span (click)="selectCategories(cat.id)" class="itemTag"> {{ cat.name }} </span>
                        </span>
                        <span *ngIf="cat.count == '0'" >
                                        <span> {{ cat.name }} </span>
                        </span>
                </span>
        </div>
        
</div>
   
