@import "../../colors.scss";

.personalSpace{
        position: relative;
        top: 90px;
    
    }

.personal-info {
    position: absolute;
    top: 405px;
    height: 92px;
    left: 0px;
    padding: 20px;
    transition: width 2s;
    overflow: hidden;
    margin:17px;
    /*background: $lightgray;*/
    font-family: "Open Sans", sans-serif;

     h1 {
        font-size: 34px;
        background-color: $aubergine;
        position: absolute;
        top: 20px;
        right: 0px;
        padding-left: 40px;
        padding: 10px 40px 10px 20px;
        color: $white;
    }
    .lnr {
        font-size: 40px;
        position: absolute;
        top: 30px;
        left: 30px;
        color: $black;
        cursor: pointer;
        font-weight: 800;
    }
}
.personal-extract {
    position: absolute;
    top: 0px;
    height: 500px;
    left: 0px;
    padding: 20px;

    overflow: hidden;
    margin:17px;
    background: $lightgray;
    font-family: "Open Sans", sans-serif;
    h1 {
        font-size: 34px;
        background-color: $aubergine;
        position: absolute;
        top: 20px;
        right: 0px;
        padding-left: 40px;
        padding: 10px 40px 10px 20px;
        color: $white;
    }
    .lnr {
        font-size: 40px;
        position: absolute;
        top: 30px;
        left: 30px;
        color: $black;
        cursor: pointer;
        font-weight: 800;
    }
}

.person {
    line-height: 30px;
    letter-spacing: 1px;
    color: $black;
    font-size: 18px;
    float: left;
    
}
.legenda {
        width: 35%;
        margin-left: 0px;
        min-width: 40%;
        min-height: 30px;
    }
    .info {
        width: 55%;
        min-width: 55%;
        min-height: 30px;
    }
#first, #second, #thirt, .first, .second, .thirt {
    transition: background 0.5s linear;
}
.personal {
    background-color: rgba(254, 254, 254, 0.3);
    background: url(../../assets/img/ik.png);
    background-size: cover;
    background-position: left top;
}
.personal::after {
        content: "";
        opacity: 1;
        top: 0;
        left: 15px;
        bottom: 15px;
        right: 0;
        position: absolute;
        z-index: -1;
        -webkit-transition: opacity .3s linear;
        transition: opacity .3s linear;
        width: 90%;
    }



.personal_up::after {
    content: "";
    background-size: cover;
    background-position: left top;
    opacity: 0.2;
    top: 0;
    left: 15px;
    bottom: 15px;
    right: 0;
    position: absolute;
    z-index: -1;
    -webkit-transition: opacity .3s linear;
    transition: opacity .3s linear;
    background-color:$white;
}

@media only screen and (max-width: 600px) {
    .personal {
        background-position: top;
    }
    .personal-info {
        h1 {
          font-size: 20px;  
        }
    }
}