#list {
    section {
        padding: 0.5em;
    }
}

#myPortfolio {
    li {
        list-style-type: none;
        line-height: 40px;
        padding-left: 20px;
        cursor: pointer;
        width: 92%;
        text-transform: uppercase;
    }
}


@media only screen and (max-width: 600px) {
    #myPortfolio {
        li {
            padding-left: 0px;
            width: 100%;
        }
    } 
    .content { 
        min-height: inherit;
    }

}