$orange: rgba(244, 123, 32, 1); //#F47B20
$orangedisabled: rgba(244, 123, 32, 0.50); //#F47B20
$gray: rgba(0, 0, 0, 0.5); 
$darkgray: rgba(0, 0, 0, 0.7); 
$blue: rgba(63, 81, 181, 1);  //#3f51b5
$white: rgba(255, 255, 255,1); //#FFFFFF
$Transwhite: rgba(255, 255, 255,0.1); //FFFFFF
$blackgray: rgb(195, 214, 214); //#2C2D2D
$black: rgba(0, 0, 0, 1); //#000000
$lightgray: rgba(254, 254, 254, 0.8); //#D7DBDD //949494
$backgray: rgba(249, 249, 250, 1); //#F9F9FA
$backlightgray: rgba(223, 226, 227, 1); //#D7DBDD
$backgroundcolor: rgba(238,238,238,1); //EEEEEE
$bordercolor: rgba(148,148,148, 1);
$editicons: rgba(99,114,125, 0.6); //63727D
$red: rgb(244, 67, 54); //f44336
$border: #d2d2d2;
$aubergine: rgba(88,79,84,0.9)