@import url('https://fonts.googleapis.com/css?family=Open+Sans:300');
@import "../node_modules/linearicons/dist/web-font/style.css";
@import url('https://i-nix.nl/portfolio//themes/ee/site/portfolio/css/pictonic.css');

body, html {
    height: 100%;
    margin: 0 auto;
    background-image: url(https://i-nix.nl/portfolio/themes/ee/site/portfolio/image/background.png);
    background-attachment: fixed;
    background-size: cover;
    background-color: #464646;
}


body {
    margin: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
}

a {
    text-decoration: none;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 1.3em;
    display: grid;
    grid-template-columns: 30% auto;

    a {
        color: white;
    }
}

section {
    /*width: 80%;*/
    margin: 0 auto;
    padding: 2em;
    .float-l {
      float: left;  
    }
}
.content {
    background-color: rgba(254,254,254,0.5); 
    margin: 15px 0px;
    min-height: 500px;
    padding: 20px 21px 20px 19px;
    line-height: 34px;
    letter-spacing: 2px;
    font-family: 'Open Sans', sans-serif;
    color: #000;
    font-size: 20px;
    overflow: auto;
    border: 1px solid #d2d2d2;
    box-shadow: 1px 1px 4px #d2d2d2;
     h1 {
        font-weight: 500;
        line-height: 1.2;
        color: inherit;
     }
}