@import "../../colors.scss";

.danger {
    color: $red;
}
.success {
    color: green;
}

.personal-info {
    position: absolute;
    top: 405px;
    height: 120px;
    left: 0px;
    padding: 20px;
    transition: width 2s;
    overflow: hidden;
    margin:17px;
    overflow: hidden;
    background: rgba(254,254,254,0.5);

     h1 {
        font-size: 34px;
        background-color: $gray;
        position: absolute;
        top: 20px;
        right: 15px;
        padding-left: 40px;
        padding: 10px 40px 10px 20px;
        color: $white;
    }
    .lnr {
        font-size: 40px;
        position: absolute;
        top: 30px;
        left: 50px;
        color: $black;
        cursor: pointer;
    }
}
.legenda {
    width: 35%;
    margin-left: 20px;
    min-width: 40%;
    min-height: 30px;
}
.person {
    line-height: 34px;
    letter-spacing: 2px;
    color: $black;
    font-size: 20px;
    float: left;
}

#first, #second, #thirt, .first, .second, .thirt {
    transition: background 0.5s linear;
}
.personal {
    background-color: rgba(254, 254, 254, 0.3);
    background: url(https://i-nix.nl/portfolio/themes/ee/site/portfolio/image/ik.png);
    background-size: cover;
    background-position: left top;
}
.personal::after {
        content: "";

        opacity: 1;
        top: 0;
        left: 15px;
        bottom: 15px;
        right: 0;
        position: absolute;
        z-index: -1;
        -webkit-transition: opacity .3s linear;
        transition: opacity .3s linear;
        width: 90%;
    }


.personal_up {

}
.personal_up::after {
    content: "";

    background-size: cover;
    background-position: left top;
    opacity: 0.2;
    top: 0;
    left: 15px;
    bottom: 15px;
    right: 0;
    position: absolute;
    z-index: -1;
    -webkit-transition: opacity .3s linear;
    transition: opacity .3s linear;
    background-color:$white;
}